.products-category .title-products-category {
    padding: 65px 0;
    text-align: center;
}

.products-category .title-products-category h2 {
    font-size: 37px;
    font-weight: 700;
}

.products-category .content-products-category {
    margin: 30px 0;
}

.products-category .content-products-category .pagination {
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

.content-products-category .pagination li button {
    font-size: 13px;
}

.content-products-category .pagination button[aria-current="true"] {
    background-color: var(--red-main) !important;
    color: #fff !important;
}