.offer {
    background-image: url(../../../public/images/bg/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0;
}

.offer h1 {
    font-size: 43px;
    font-weight: 800;
    padding: 30px;
}

.offer p {
    padding: 0 40px;
    font-size: 16px;
}

.offer .special-products {
    margin: 20px 40px;
    background: var(--red-main);
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    padding: 10px;
    border-radius: 30px;
    display: block;
    text-decoration: none;
    width: fit-content;
}

.categories-images {
    margin-bottom: 30px;
}

.categories-images .category {
    position: relative;
    display: block;
    overflow: hidden;
}

.categories-images .category img {
    width: 100%;
    transition: 0.3s;
}

.categories-images .col-md-4 {
    padding: 0;
}

.categories-images .category .details-category {
    position: absolute;
    top: 0;
    background: #ffffffa6;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    transition: 0.3s;
    transform: scale(1.15);
    opacity: 0;
}

.category .details-category h2 {
    font-size: 25px;
}

.categories-images .category:hover .details-category {
    opacity: 1;
    transform: scale(1);
}

.categories-images .category:hover img {
    transform: scale(1.15);
}

.about .image-about img {
    width: 100%;
}

.about .text {
    padding-top: 100px;
}

.about .text h2 {
    font-size: 37px;
    font-weight: 700;
    margin-bottom: 25px;
}

.about .text p {
    font-size: 15px;
    font-weight: 400;
}

.about .text a {
    margin-top: 50px;
    display: block;
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    background: var(--red-main);
    width: fit-content;
    padding: 5px 20px;
    border-radius: 30px;
}

.guarantee {
    margin: 100px 0;
}

@media screen and (max-width : 767px) {
    .offer h1 {
        padding: 30px 10px;
    }

    .offer p {
        padding: 0px 10px;
    }

    .offer .special-products {
        margin: 20px 10px;
    }

    .about .text {
        margin-top: 20px;
        padding: 20px;
    }
}

@media screen and (max-width : 539px) {
    .offer p {
        display: none;
    }
}