.offer {
    background-image: url(../../../public/images/bg/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0;
}

.offer h1 {
    font-size: 43px;
    font-weight: 800;
    padding: 30px;
}

.offer p {
    padding: 0 40px;
    font-size: 16px;
}

.offer .special-products {
    margin: 20px 40px;
    background: var(--red-main);
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    padding: 10px;
    border-radius: 30px;
    display: block;
    text-decoration: none;
    width: fit-content;
}

.categories-images {
    margin-bottom: 30px;
}

.categories-images .category {
    position: relative;
    display: block;
    overflow: hidden;
}

.categories-images .category img {
    width: 100%;
    transition: 0.3s;
}

.categories-images .col-md-4 {
    padding: 0;
}

.categories-images .category .details-category {
    position: absolute;
    top: 0;
    background: #ffffffa6;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    transition: 0.3s;
    transform: scale(1.15);
    opacity: 0;
}

.category .details-category h2 {
    font-size: 25px;
}

.categories-images .category:hover .details-category {
    opacity: 1;
    transform: scale(1);
}

.categories-images .category:hover img {
    transform: scale(1.15);
}

.about .image-about img {
    width: 100%;
}

.about .text {
    padding-top: 100px;
}

.about .text h2 {
    font-size: 37px;
    font-weight: 700;
    margin-bottom: 25px;
}

.about .text p {
    font-size: 15px;
    font-weight: 400;
}

.about .text a {
    margin-top: 50px;
    display: block;
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    background: var(--red-main);
    width: fit-content;
    padding: 5px 20px;
    border-radius: 30px;
}

.guarantee {
    margin: 100px 0;
}

.newsletters .image-newsletters {
    text-align: center;
}

.newsletters .image-newsletters img {
    width: 250px;
}

.newsletters .content-newsletters {
    background-color: var(--color-main);
    background-image: url(../../../public/images/index/store2-home-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
    text-align: center;
}

.newsletters .content-newsletters h2 {
    font-size: 37px;
    font-weight: 700;
    margin-bottom: 20px;
}

.newsletters .content-newsletters p {
    font-size: 15px;
    font-weight: 400;
    padding: 0 50px;
}

.newsletters .content-newsletters form {
    margin: 20px 0;
}

.newsletters .content-newsletters form input {
    color: #000000;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 1px solid #000000;
    width: 90%;
    font-size: 15px;
    margin-bottom: 30px;
}

.newsletters .content-newsletters form .btn-submit button {
    border: none;
    background: var(--red-main);
    color: #fff;
    font-size: 15px;
    padding: 5px 30px;
    border-radius: 30px;
}

.newsletters .slider-newsletters img {
    width: 100%;
}

.swal2-icon {
    margin: auto;
}

@media screen and (max-width : 767px) {
    .offer h1 {
        padding: 30px 10px;
    }

    .offer p {
        padding: 0px 10px;
    }

    .offer .special-products {
        margin: 20px 10px;
    }

    .about .text {
        margin-top: 20px;
        padding: 20px;
    }
}

@media screen and (max-width : 539px) {
    .offer p {
        display: none;
    }
}